global 
    log stdout format raw local0
    stats socket ipv4@:9999 level admin 
    user haproxy
    group haproxy

defaults 
    mode http
    log global
    retries 2
    timeout connect 3000ms
    timeout server 5000ms
    timeout client 5000ms

frontend front 
    bind :5433 
    mode tcp
    use_backend back 

backend back 
    mode tcp
    balance roundrobin 
    server psql-1 postgres_db_master:5432 check on-marked-down shutdown-sessions
    server psql-2 postgres_db_slave_1:5432 check backup on-marked-down shutdown-sessions
    server psql-3 postgres_db_slave_2:5432 check backup on-marked-down shutdown-sessions
